!!!
%html{ :lang => "ru", "xml:lang" => "ru", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/superfish.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    :plain
      <link rel="stylesheet" type="text/css" href="/css/superfish.css" media="screen">
      <script type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
      <script type="text/javascript" src="/js/hoverIntent.js"></script>
      <script type="text/javascript" src="/js/superfish.js"></script>
      <script type="text/javascript" src="/js/supersubs.js"></script> 
      <script type="text/javascript">
      // initialise plugins
   
      $(document).ready(function(){ 
            $('ul.sf-menu').supersubs({
                minWidth:    12,   // minimum width of sub-menus in em units 
                maxWidth:    50,   // maximum width of sub-menus in em units 
                extraWidth:  1     // extra width can ensure lines dont sometimes turn over 
              }).superfish();
      });
      </script>

    
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }

  %body{ :class => @body_class }
    #container
      #wrapper
        = yield
        
        = haml :menu, :layout => false
        #footer
          %p
            Powered by
            = succeed "," do
              %a{ :href => "http://effectif.com/nesta" } nesta
            designed by
            %a{ :href => "http://effectif.com" } Graham Ashton

    = haml :analytics, :layout => false
